@CHARSET "UTF-8";
form {
	margin: auto;
	width: 100%;
	text-align: center;
}
input[type="password"]{
	width: 300px;
	margin: 30px;
}
input[type=submit] {
	color: #FFF;
	background-color: #F60;
	border-style: none;
	height: 50px;
	width: 80px;
	border-radius: 10px;
	margin: 10px;
}
input[type=button] {
	color: #FFF;
	background-color: #F93;
	border-style: none;
	height: 50px;
	width: 80px;
	border-radius: 10px;
	margin: 10px;
}