@CHARSET "UTF-8";
ul {
	float: left;
	list-style-type: none;
}

img {
	height: 150px;
	width: 110px;
}
div {
	color: #09F;
	text-decoration: none;
	clear:both;
	text-align: center;
}
a {
	color: #09F;
	text-decoration: none;
	clear:both;
}