@CHARSET "UTF-8";
fieldset {
	background-color: #F90;
	width: 300px;
	margin: auto;
	border-radius: 10px;
	border: none;
}
input {
	width: 90%;
	height: 20px;
}
legend {
	font-size: 30px;
	color: #00F;
}
input[type="submit"]{
	color: #FFF;
	background-color: #F00;
	border: none;
	width: 25%;
	border-radius: 3px;
}